{% extends 'base.html' %}
{% block title %} My Feed {% endblock title %}
{% block body %}

<div class="container" >

    {% for item in posts %}

    <div class="text-center px-4 my-4 offset-lg-3 col-lg-6 py-4 contianer-post" >
        <div class="text-left d-flex">
            <img src="../static/uploads/user.png" width="40" height="40" alt="">
            <div class="d-grid mx-2" >
                <label  class="margin-0" >
                    <b>{{item.Post.getPostUser()}}</b>
                </label>
                <label class="post-time" >
                    {{item.Post.date_created.strftime('%H:%M %h-%m')}}
                </label>
            </div>
        </div>
        <div class="text-left">
            <label>{{item.Post.description}}</label>
        </div>
        <br>

        {% if item.Post.image %}
        <img src="../static/uploads/{{item.Post.getImage()}}" class="post-preview">
        {% endif %}

        <br>
        <div class="text-right my-4" >
            <button class="btn btn-default border {% if item.Post.isLikedByMe(current_user.id) %} btn-Liked {%endif%} " onclick="LikeOrDisLike(this,'textLike{{item.Post.id}}','{{item.Post.id}}','{{item.Post.getLikeID(current_user.id)}}', '{{current_user.id}}')" >
                <span>{{item.Post.getLikes()}}</span>
                <span id="textLike{{item.Post.id}}" >
                    {% if item.Post.isLikedByMe(current_user.id) %}
                    Liked
                    {% else %}
                        Like
                    {% endif %}
                </span>
            </button>
            <a class="btn btn-success" href="/shares/{{item.Post.id}}" >Share</a>
        </div>
    </div>
    {% endfor %}
</div>

<script>

</script>

{% endblock body %}
