{% extends 'base.html' %}
{% block title %} Follow Or Unfollow Users {% endblock title %}
{% block body %}

<div class="container" >
    <ul class="type-none" >
        {% for item in users %}
        <li class="px-4 py-4" >
            <div class="d-flex justtify-content-space-between" >
                <div class="d-flex" >
                    <img src="../static/uploads/user.png" width="40" height="40" alt="">
                    <div class="mx-2" >
                        <label for=""><b>{{item.name}}</b></label>
                    </div>
                </div>

                <div>
                    <button onclick="handFollowUser(this,'{{item.id}}',)" class="btn btn-primary  {% if item.isFollowedByMe(current_user.id , item.id) %} btn-success {%endif%}" >
                        
                        {% if item.isFollowedByMe(current_user.id , item.id): %}
                            Following                    
                        {% else %} 
                            Follow
                        {% endif %} 
                    </button>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock body %}